{% extends 'admin/master.html' %}
<div class="container mt-4">
	{% block body %} {% if current_user.is_authenticated and
	current_user.is_admin() %} 
	<div class="jumbotron">
		<h1 class="display-5">
			Welcome to eStory Administrator Dashboard
		</h1>
		<p class="lead">
			Manage your books, users, orders, and more from here.
		</p>
		<hr class="my-4" />
		<p>Use the navigation bar to access different sections.</p>
		<a
			class="btn btn-primary"
			href="{{ url_for('admin.index') }}"
			role="button"
			>Go to Statistics Dashboard</a
		>
	</div>
	{% else %}
	<div class="d-flex justify-content-center">
		<div class="col-md-6 mt-4">
			<h1 class="fw-bold text-center">Log In</h1>
			<form
				method="POST"
				action="{{ url_for('admin_login') }}">
				<div class="form-group">
					<label for="email">Email</label>
					<input
						type="email"
						class="form-control"
						id="email"
						name="email"
						aria-describedby="emailHelpBlock"
						required />
					<small
						id="emailHelpBlock"
						class="form-text text-muted">
						Your email address will be used
						for authentication and
						communication purposes.
					</small>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input
						type="password"
						class="form-control"
						id="password"
						name="password"
						aria-describedby="passwordHelpBlock"
						required />
					<small
						id="passwordHelpBlock"
						class="form-text text-muted">
						Your password must be 8-20
						characters long, contain letters
						and numbers, and must not
						contain spaces, special
						characters, or emoji.
					</small>
				</div>
				<button
					type="submit"
					class="btn btn-primary">
					Log In
				</button>
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
